---
const siteUrl = "https://study-in--london.com/";
const domain = "study-in--london.com";
const jsonLd = "[{\"@context\":\"https://schema.org\",\"@type\":\"WebSite\",\"url\":\"https://study-in--london.com/\",\"name\":\"study-in--london.com\",\"potentialAction\":{\"@type\":\"SearchAction\",\"target\":\"https://study-in--london.com/?q={search_term_string}\",\"query-input\":\"required name=search_term_string\"}},{\"@context\":\"https://schema.org\",\"@type\":\"ItemList\",\"name\":\"Programs\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"url\":\"https://study-in--london.com/lisaa-paris/bachelor-interior-architecture-design/\",\"name\":\"Bachelor in Interior Architecture \\u0026 Design\",\"item\":{\"@type\":\"EducationalOccupationalProgram\",\"name\":\"Bachelor in Interior Architecture \\u0026 Design\",\"provider\":{\"@type\":\"CollegeOrUniversity\",\"name\":\"LISAA Paris - School of Art \\u0026 Design\",\"url\":\"https://study-in--london.com/lisaa-paris/\"}}}]},{\"@context\":\"https://schema.org\",\"@type\":\"ItemList\",\"name\":\"Providers\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"url\":\"https://study-in--london.com/lisaa-paris/\",\"name\":\"LISAA Paris - School of Art \\u0026 Design\",\"item\":{\"@type\":\"CollegeOrUniversity\",\"name\":\"LISAA Paris - School of Art \\u0026 Design\",\"url\":\"https://study-in--london.com/lisaa-paris/\"}}]}]";
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <title>{domain}</title>
    <link rel="canonical" href="{siteUrl}" />
    <script type="application/ld+json" set:html={jsonLd}></script>
  </head>
  <body>
    <h1>Programs</h1>
    <ul>
<li><a href="/lisaa-paris/bachelor-interior-architecture-design/">Bachelor in Interior Architecture & Design</a> by <a href="/lisaa-paris/">LISAA Paris - School of Art & Design</a></li>
    </ul>
    <h1>Providers</h1>
    <ul>
<li><a href="/lisaa-paris/">LISAA Paris - School of Art & Design</a></li>
    </ul>
  </body>
</html>